body {
  background-image: url('/images/background-gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transition: background-color 0.3s ease;
}

.dark body {
  background-color: rgba(15, 15, 15, 0.8);
}
