@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../assets/images/background-gradient.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  @apply transition-colors duration-300 text-gray-800;
}

html.dark body {
  background-color: #121212;
  color: #f3f4f6;
}

* {
  box-sizing: border-box;
}

.app-footer {
  @apply text-center py-1 text-xs text-gray-500 bg-white/30 border-t border-gray-200 backdrop-blur-sm fixed bottom-0 w-full z-50;
}
